/*! purgecss start ignore */
@tailwind base;

html,
body {
  @apply font-sans;
  @apply font-thin;
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @apply font-bold;
}

@tailwind components;

.link {
  @apply underline;
}
.link:hover {
  @apply text-gray-700;
}

.btn {
  @apply rounded;
  @apply border-2;
  @apply border-black;
  @apply bg-white;
  @apply transition;
  @apply duration-300;
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply px-3;
  @apply py-2;
  @apply transform;
}
.btn:hover {
  @apply bg-gray-200;
  @apply scale-105;
  @apply shadow-xl;
}

.counter {
  @apply flex;
  @apply items-center;
  @apply justify-center;
  @apply bg-black;
  @apply rounded-full;
  @apply h-16;
  @apply w-16;
  @apply text-center;
  @apply font-bold;
  @apply text-5xl;
  @apply text-white;
  @apply shadow;
}

.card {
  @apply flex;
  @apply flex-col;
  @apply rounded-lg;
  @apply bg-white;
  @apply shadow;
  @apply p-6;
  @apply border;
  @apply border-gray-200;
}

.container {
  @apply px-8;
  @apply mx-auto;
  @apply max-w-5xl;
}

/*! purgecss end ignore */
@tailwind utilities;
